@{
    ViewData["Title"] = "A propos";
}
<h1>A propos</h1>

<p>Ce site est une application web développée en .NET (C#).</p>
<p>Le repository correspondant est disponible ici : https://github.com/LSarribouette/dot-net-tp-8</p>
